body {
    background: #f9f8fe;
}

a {
    color: #885DF1;
}
.App {
    max-width: 960px;
    margin: 0 auto;
}
.App-footer{
    text-align: center;
    margin: 30px 0;
    color: rgb(122, 8, 228);
    font-size: 16px;
}